.word-table {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.word-table .inline {
  display: block;
}

@media all and (min-width: 320px) {
  .word-table .inline {
    display: inline-flex;
  }

  .dashboard-word {
    display: inline-flex;
    width: 8rem;
  }
}
